 /* mail index  */
 .mail-header {
     display: flex;
     align-content: start;
     padding: 10px 3.15rem;
     font-size: 16px;
     line-height: 27px;
     gap: 83px;
 }

 .mail-header img {
     height: 3.69rem;
     width: 6.25rem;
 }

 .mail-filter {
     flex: 1;
     text-align: start;
 }

 .mail-filter input {
     text-align: center;
     width: 45rem;
     height: 3rem;
     border-radius: 30px;
     font-size: x-large;
     align-self: center;
     background: #eaf1fb;
     transform: translateX(20px);
     border:0px;
 }

 .mail-add-btn {
     width: 7.375rem;
     height: 3.7rem;
     border-radius: 16px ;
     background-color: #c2e7ff;
     font-family: 'roboto';
     font-weight: bold;
     cursor: pointer;
     border: 0px;
 }

 .mail-add-btn:hover{
    box-shadow:  rgb(218, 220, 224)1px 0px 0px 0px inset,
    rgb(218, 220, 224) -1px 0px 0px 0px inset,
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }

 .mail-options {
     padding: 0 0 0 8px;
 }