 /* mail index  */
 .mail-header {
    display: flex;
    align-content: start;
    /* justify-content: space-between; */
    padding: 10px 3.15rem;
    font-size: 16px;
    line-height: 27px;
    /* text-align: start; */
    gap:83px
}
 .mail-header img {
    height: 3.69rem;
    width: 6.25rem;
    background-color: white;
}

.mail-filter {
    flex:1;
    text-align: start;
}

.mail-filter input {
    text-align: center;
    width:45rem;
    height:3rem;
    border-radius: 30px;
    font-size: x-large;
    align-self: center;
    background: #eaf1fb;
}

.mail-add-btn  {
    width:7.375rem;
    height:3.7rem;
    border-radius: 16px;
    background-color: #c2e7ff;
    font-family:'roboto';
    font-weight: bold;
    /* background-color: black; */
}
